[submodule "kernel"]
	path = kernel
	url = https://github.com/UTFTymoteusz/aexkernel2.git
[submodule "coremod/lai/lai"]
	path = mod/core/lai/lai
	url = https://github.com/qword-os/lai.git
[submodule "libc"]
	path = libc
	url = https://github.com/UTFTymoteusz/aexlibc2.git
[submodule "init"]
	path = init
	url = https://github.com/UTFTymoteusz/aexinit2.git
